body{
    background-color: #212121;
    color:#fff;
}

.container{
    border: 5px solid red;
    padding: 50px;
    margin:60px auto;
}
#results{
    font-size: 25px;
    padding-top: 10px;
    color: red;
}